.container {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 1240px;
  font-family: roboto;
}

.row {
  background: rgb(49, 49, 49);
}

ul li {
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.human a {
  color: inherit;
}

.navbar {
  background: rgb(49, 49, 49);
}

.navbar-menu {
  display: flex;
}

.navbar-menu ul {
  display: flex;
  align-items: center;
  width: 1400px;
  height: 28px;
  gap: 35px;
  font-family: roboto;
}

.heart {
  width: 19.83px;
  height: 17px;
  padding-left: 37px;
}

.big-menu span:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.aa {
  background: rgb(215, 68, 68);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 1119px;
  position: absolute;
  bottom: 813px;
}

.shop {
  width: 19px;
  height: 18px;
  padding-left: 12px;
}

.call {
  padding-right: 0px;
  color: #fff;
}

ul p {
  color: #fff;
}

.nav-end {
  font-size: 20px;
}

.nav-ong {
  padding-left: 600px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}

.dostavka {
  color: #fff;
}

.dostavka-text {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
}

.navbar-bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.logo-img {
  margin-right: 30px;
}

.search input {
  width: 819px;
  height: 50px;
  padding-left: 50px;
  font-family: roboto;
}

.human {
  padding-left: 12px;
}

.search1 {
  bottom: -3px;
  right: -40px;
  position: relative;
  /* BLACK */
  color: 1px solid rgb(0, 0, 0);
}

.big-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 1140px;
  height: 70px;
  justify-content: center;

  font-family: roboto;
  /* menu-shadow */
  box-shadow: 0px 2px 9px 0px #0000006e;
  margin-top: 20px;
}

.big-menu span a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}

.big-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.spn {
  color: red;
}

.content-img img {
  margin-top: 30px;
  width: 1140px;
  height: 450px;
  /* pc-sh */
  box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.09);
}

.tittle {
  text-transform: uppercase;
  color: rgb(60, 60, 60);
  font-size: 50px;
  font-weight: 700;
  width: 210px;
  height: 105px;
  left: 480px;
  right: -189px;
  top: 328px;
  bottom: -289px;
  position: absolute;
}

.block-df {
  display: flex;
}

.block-df span {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.txt {
  font-size: 2px;
  color: rgba(255, 255, 255, 0.507);
}

.text {
  left: 480px;
  right: -189px;
  top: 467px;
  position: absolute;
}

.content-texts button {
  padding: 14px 25px 14px 25px;
  border: 0;
  box-shadow: 0px 3px 7px 0px #0000006e;
  background: rgb(255 255 255);
  position: absolute;
  /* top: 1px; */
  bottom: 375px;
  left: 480px;
}

.arrow0 {
  background: rgba(157, 157, 157, 0.28);
  border: 2px solid rgb(255, 255, 255);
  padding: 4.5px 4.5px;
  color: #fff;
  position: absolute;
  top: 467px;
  left: 383px;
}

.arrow0 {
  transition: 0.7s;
  cursor: pointer;
}

.arrow1 {
  transition: 0.7s;
  cursor: pointer;
}

.arrow1 {
  background: rgba(157, 157, 157, 0.28);
  border: 2px solid rgb(255, 255, 255);
  padding: 4.5px 4.5px;
  color: #fff;
  position: absolute;
  top: 467px;
  left: 1448px;
}

.content-texts button:hover {
  transform: scale(1.1);
  transition: 0.7s;
  cursor: pointer;
}

.rek-out {
  color: rgb(65, 65, 65);
  font-family: Roboto;
  font-size: 16px;
}

.tovar1 {
  width: 263px;
  height: 344px;
  margin-top: 67px;
}

.tovarlar {
  flex-wrap: wrap;
  display: flex;
}

.tovar1-img {
  width: 200px;
  height: 150px;
  margin: 42px 31px 0px 32px;
}

.tovar1-text {
  color: rgb(65, 65, 65);
  font-family: Roboto;
  font-size: 16px;
  color: #414141;
  margin-left: 20px;
}

.text-mini {
  color: rgb(65, 65, 65);
  font-family: Roboto;
  font-size: 12px;
  color: #3b3b3b;
  margin-left: 20px;
  margin-top: -5px;
}

.rubl {
  margin-left: 20px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 16px;
}

.heart2 {
  padding-left: 187px;
  color: red;
}

.tovar1:hover {
  transform: scale(1.1);
  transition: 0.8s;
  cursor: pointer;
}

.store {
  width: 100%;
  padding: 90px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.store h1 {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.store .product {
  width: 200px;
  height: 400px;
  padding-bottom: 20px;
}

.product span {
  display: flex;
  justify-content: end;
  padding-bottom: 38px;
}

.product img {
  width: 190px;
  height: 150px;
  margin: 0 32px 0 32px;
}

.product .title {
  width: 117px;
  height: 100px;
  margin: 20px 32px 54px 32px;
}

.product .title h3 {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.product .title p {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 11px;
  font-weight: 400;
  padding: 6px 0;
}

.product .title h4 {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.product .title button {
  width: 170px;
  height: 35px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  background: rgb(50, 133, 1);
  color: #fff;
  margin-top: 30px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.product .title button:active {
  transform: scale(0.8);
}

.aa {
  padding-right: 10px;
}

.btn1 {
  /* main-color */
  background: rgb(36, 84, 98);
  padding: 13px 50px 12px 50px;
  border: 0;
  color: #fff;
}

.shop1 a {
  color: #000000;
}

.tittle2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.aksya {
  color: red;
}

.foter-texts p {
  color: rgb(65, 65, 65);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #414141da;
}

.foter-texts {
  display: flex;
  gap: 40px;
}

.texts2 {
  margin-top: 34px;
}

.texts3 {
  margin-top: 34px;
}

.span1 {
  display: flex;
  gap: 23px;
}

.lm {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 42px;
  font-weight: 900;
}

.end-texts {
  color: rgb(65, 65, 65);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  width: 171px;
  height: 54px;
}

.footer-end {
  display: flex;
  flex-direction: column;
}

.footer-end span {
  display: flex;
  align-items: center;
}

.call-insta {
  display: flex;
  gap: 20px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.texts5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.store {
  width: 100%;
  padding: 90px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.store h1 {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.store .product {
  width: 200px;
  height: 450px;
}

.product .heart {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 195px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}

.product img {
  width: 190px;
  height: 150px;
  margin: 0 32px 0 32px;
}

.product .title {
  width: 117px;
  height: 100px;
  margin: 20px 32px 54px 32px;
}

.product .title h3 {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.product .title p {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 11px;
  font-weight: 400;
  padding: 6px 0;
}

.product .title h4 {
  color: rgb(65, 65, 65);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.product .title button {
  width: 170px;
  height: 35px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  background: rgb(50, 133, 1);
  color: #fff;
  margin-top: 30px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.product .title button:active {
  transform: scale(0.8);
}

.product .title .size {
  display: flex;
  align-items: center;
}

.product .title .size h4 {
  font-size: 10px;
  padding: 10px 5px 0 5px;
  font-weight: 600;
  color: #999696;
}

.product .title .size p {
  font-size: 10px;
  padding: 5px 10px 0 10px;
}

.aa {
  padding-right: 10px;
}

.aksya {
  color: red;
}
